* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100%;
}
/*Navbar by flexbox*/
nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 6vh;
    background-color: black;
    color: aliceblue;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1rem;
}

ul>li {
    list-style-type: none;
    cursor: default;
}

.right-end ul {
    min-width: 50vw;
    display: flex;
    justify-content: space-around;
}

.right-end ul>li:hover {
    border-bottom: 3px solid white;
}
/*Centering the box*/
main {
    background-color: blueviolet;
    min-height: 30vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
    border: 5px solid red;
    background-color: aquamarine;
}

/*wrap the images*/

.images{
    height:550px ;
    width: 50vw;
    border: 2px solid red;
    padding: 10px ;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:600px){
    body{
        background-color: grey;
    }
    nav {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 6vh;
        background-color: black;
        color: aliceblue;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 10px;
        font-size: 0.5rem;
    }
    .right-end ul {
        background-color: black;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        text-align: center;
    }
    main {
        margin-top: 180px;
        background-color: goldenrod;
        height: 20vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box {
        width: 50px;
        height: 50px;
        border: 5px solid blue;
        background-color: greenyellow;
    }
    .images{
        height:400px ;
        width: 100vw;
        border: 2px solid red;
        padding: 10px ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
    }
}
@media(max-width:300px){
    body{
        background-color: lightcyan
    }
    .images{
        height:300px ;
        width: 100vw;
        border: 2px dotted brown;
        padding: 15px ;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
    }
}